.form-container {
  display: flex;
  min-width: 100px;
  max-width: 500px;
  width: 100%;
  align-items: center;
}

.full-width {
  width: 100%;
}

.video-thumbnail {
  vertical-align: middle;
  margin-right: 8px;
}

.add-btn {
  margin-left: 20px;
}

.toggle-slide {
  padding: 20px;
}
